<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>爱看电影</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/jquery.seat-charts.css" rel="stylesheet" type="text/css">
	<link href="/static/css/my.css" rel="stylesheet" type="text/css">
	<style>
		#seats {
			border-right-style: dotted;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">爱看电影</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/">附近影院</a></li>
					<li><a href="/search/movie/total/">今日热映</a></li>
				</ul>
				<form class="navbar-form navbar-left" role="search" action="/search/cinema/by_movie/" action="GET">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="电影名称" name="filmname">
					</div>
					<button type="submit" class="btn btn-default" onclick="checkfilmname()">Search</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户名<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/user_ticket_history/">购票记录</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/exit/">退出</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div id="seats" class="col-md-7" style="display:block;">
				<div class="front-indicator">屏幕</div>
				<div id="seat-map" style="margin:auto;width:550px;">

				</div>
			</div>
			<div class="booking-details col-md-5">
				<h2 style="text-align:center">美嘉影院6号厅</h2>
				<hr />
				<h3> 已选座位 （<span id="counter">0</span>）：</h3>
				<div id="selected-seats-container">
					<ul id="selected-seats"></ul>
				</div>
				总计：<b>￥<span id="total">0</span></b>
				<hr />
				<button class="btn btn-inverse" onclick="buyticket()">结算 »</button>

				<div id="legend-container">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">确认购票？</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button id="close" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button id="buy" type="button" class="btn btn-primary" onclick="buy()">购票</button>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.seat-charts.js"></script>
	<script src="/static/js/my.js"></script>
	<script>
		$(document).ready(function(){
			var price = 20;
			var sc = $('#seat-map').seatCharts({
				map: {{ seatmap }},
				seats: {
					a: {
						price: 50,
						classes: 'normal-seat'
					}
				},
				click: function(){
					if (this.status() == 'available'){
						var id = this.settings.id;
						//console.log('selected: ' + id);
						var data = id.split('_');
						var row = data[0];
						var col = data[1];
						//console.log(row + " " + col);
						var content = '<li id=selected_' + id + '>座位： ' + row + '排' + col + '号' + '</li>';
						var total = Number($("#total").html());
						total += price;
						$("#total").html(total);
						$("#selected-seats").append(content);
						var $div = $('#selected-seats-container');  
						$div.scrollTop($div[0].scrollHeight);
						return 'selected';
					} else if (this.status() == 'selected'){
						var id = this.settings.id;
						//console.log('selected: ' + id);
						var total = Number($("#total").html());
						total -= price;
						$("#total").html(total);
						$("#selected_" + id).remove();
						return 'available';
					} else if (this.status() == 'unavailable'){
						return 'unavailable';
					} else {
						return this.style();
					}
				},
				legend: {
					node: $("#legend-container"),
					items: [
						['a', 'available', '可选'],
						['u', 'unavailable', '已售出']
					]
				}
			});
			sc.get(['2_6', '1_7']).status('unavailable');
		});
	</script>
</body>

</html>