<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>爱看电影</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/my.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">爱看电影</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">附近影院</a></li>
          <li class="active"><a href="/search/movie/total/">今日热映</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" action="/search/cinema/by_movie/" action="GET">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="电影名称" name="filmname">
          </div>
          <button type="submit" class="btn btn-default" onclick="checkfilmname()">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user_email}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/user_ticket_history/">购票记录</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/exit/">退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row" id="films">
      {% for film in data %}
      <div class="filmEntry col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="/search/cinema/by_movie/?filmname={{film.movie_name}}">{{ film.movie_name }} </a></h3></div>
          <div class="panel-body">
            <p>上座率： {{ film.sold_rate }}</p>
            <hr style="margin-top: 10px; margin-bottom: 10px" />
            <p style="margin-bottom: 0px">最低价/最高价： {{ film.min_price }} / {{ film.max_price }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/my.js"></script>
</body>

</html>